<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DBConfiguration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <DBConfiguration.Properties.Settings>
            <setting name="ITInventory_Config" serializeAs="String">
                <value>D:\Users\Sonny\Documents\Visual Studio 2015\Projects\ITInventory\ITInventory\bin\Debug\ITInventory.exe.config</value>
            </setting>
            <setting name="TempleteEditor_Config" serializeAs="String">
                <value>D:\Users\Sonny\Documents\Visual Studio 2015\Projects\ITInventory\TempleteEditor\bin\Debug\TempleteEditor.exe.config</value>
            </setting>
        </DBConfiguration.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
