<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TempleteEditor.Properties.Settings.ConnStr2ITInventory" connectionString="Provider=SQLOLEDB;Data Source=10.9.100.28;Persist Security Info=True;Password=quantdo;User ID=quantdo;Initial Catalog=ITInventory" providerName="System.Data.OleDb"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
