<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TempleteEditor.Properties.Settings.ConnStr2ITInventory"
            connectionString="Provider=SQLOLEDB;Data Source=localhost;Persist Security Info=True;Password=quantdo;User ID=quantdo;Initial Catalog=ITInventory"
            providerName="System.Data.OleDb" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    </connectionStrings>
</configuration>